body {
  margin: 0;
  font-size: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, sans-serif;
}
h2,
h3 {
  margin-left: 1em;
  color: #e49a2f;
}
#page {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: wheat;
  height: auto;
}
#header {
  padding: 1em;
  background-color: #575757;
  color: #f0ebeb;
  text-align: center;
  font-size: 200%;
  letter-spacing: 0.1875em;
}
/*nav muotoilut alku*/
#nav,
#footer {
  height: 1.875em;
  background-color: #e49a2f;
  color: #f7f5ee;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e49a2f;
}
li {
  display: inline-block;
}
li a {
  display: block;
  color: #f7f5ee;
  text-align: center;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  height: 1.875em;
}
a:hover:not(.active) {
  background-color: #575757;
}
.active {
  background-color: #575757;
}
#content {
  background-color: #d8ccaf;
  display: block;
}
/*nav muotoilut loppu*/
img {
  margin-top: 1em;
  margin-bottom: 1em;
}
/*content mutoilut alku*/
#content_left,
#content_right {
  display: inline;
  width: 40%;
  background-color: #f7f5ee;
  border: 0.0625em;
  border-style: solid;
  border-color: #ac9675;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.625em;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
#content_left {
  float: left;
  margin-left: 4%;
}
#content_right {
  float: right;
  margin-right: 4%;
}
/*content mutoilut loppu*/
#footer {
  clear: both;
  height: 10%;
}
#mail {
  color: rgb(161, 75, 13);
  background-color: #e49a2f;
}
